body {
  display: flex;
  justify-content: center;

}
.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Rakkas', cursive;
  /*background-color: lightgreen;*/
  border: 5px solid black;
  width: 100%;
  background: url("https://media.tenor.com/images/7cd79192a0bd6e01080ee5e907273409/tenor.gif")
  /*height: 300px;*/
  /*margin-left: 35%*/
}

.weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Rakkas', cursive;
  background-image: url("https://media.giphy.com/media/26u6dryuZH98z5KuY/giphy.gif");
  background-size: cover;
  width: 100%;
  /*color: darkgreen;*/
}
