body {
  display: flex;
  justify-content: center;

}
.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Rakkas', cursive;
  background-color: lightgreen;
  border: 5px solid black;
  width: 100%;
  /*height: 300px;*/
  /*margin-left: 35%*/
}
